force-app/main/default/flows/Benefit_Calculations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>getBenefits</name>
        <label>getBenefits</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>TPMFlowBatchController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Benefit_Calculation_Submitted</targetReference>
        </connector>
        <inputParameters>
            <name>SchemeId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>processId</assignToReference>
            <name>ProcessId</name>
        </outputParameters>
    </actionCalls>
    <interviewLabel>Benefit Calculations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Benefit Calculations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Benefit_Calculation_Submitted</name>
        <label>Benefit Calculation Submitted</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayId</name>
            <fieldText>&lt;p&gt;Your request has been submitted. Your process Id is {!processId}. You would get an email on process completion at {!$User.Email}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getBenefits</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>processId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
