force-app/main/default/flows/Check_Global_Budget.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Store_Incentive_Sum</name>
        <label>Store Incentive Sum</label>
        <locationX>1106</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>TotalIncentive</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Total_Incentives.Budget_Incentivized__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Total_Incentives</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>GlobalBudget</name>
        <dataType>Currency</dataType>
        <expression>{!$Setup.Scheme_Settings__c.Global_Budget__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Check Global Budget {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check Global Budget</label>
    <loops>
        <name>Total_Incentives</name>
        <label>Total Incentives</label>
        <locationX>755</locationX>
        <locationY>287</locationY>
        <collectionReference>Completed_Scheme_List</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_Incentive_Sum</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Scheme</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Scheme_Records</name>
        <label>Get Scheme Records</label>
        <locationX>490</locationX>
        <locationY>174</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Total_Incentives</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Running</stringValue>
            </value>
        </filters>
        <object>Scheme__c</object>
        <outputReference>Completed_Scheme_List</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Budget_Incentivized__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Scheme</name>
        <label>Update Scheme</label>
        <locationX>658</locationX>
        <locationY>552</locationY>
        <connector>
            <targetReference>Global_Budget_Check</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Global_Budget_Consumed__c</field>
            <value>
                <elementReference>TotalIncentive</elementReference>
            </value>
        </inputAssignments>
        <object>Scheme__c</object>
    </recordUpdates>
    <screens>
        <name>Global_Budget_Check</name>
        <label>Global Budget Check</label>
        <locationX>437</locationX>
        <locationY>482</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayGlobalBudgetCheck</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!TotalIncentive}&lt;/b&gt; have been used from a global budget of &lt;b&gt;{!GlobalBudget}&lt;/b&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please make sure enough budget is available to ensure approval.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Scheme_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Completed_Scheme_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Scheme__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalIncentive</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
