force-app/main/default/flows/Incentive_Calculation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Scheme_Type</name>
        <label>Scheme Type</label>
        <locationX>719</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Incentive_YoY_SubFlow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Scheme_Type_YoY_Target_Based</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetScheme.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fixed Target</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incentive_YoY_SubFlow</targetReference>
            </connector>
            <label>Fixed Target</label>
        </rules>
    </decisions>
    <formulas>
        <name>CalculatedCompensation</name>
        <dataType>Currency</dataType>
        <expression>{!SalesSummaryTY.Amount__c}*{!SchemeRecord.Compensation__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>LYTargetDateMax</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY())-1, {!SchemeRecord.TargetMonthNo__c}+1 , 01)</expression>
    </formulas>
    <formulas>
        <name>LYTargetDateMin</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY())-1, {!SchemeRecord.TargetMonthNo__c} , 01)</expression>
    </formulas>
    <formulas>
        <name>TYTargetDateMax</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()), {!SchemeRecord.TargetMonthNo__c}+1 , 01)</expression>
    </formulas>
    <formulas>
        <name>TYTargetDateMin</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()), {!SchemeRecord.TargetMonthNo__c} , 01)</expression>
    </formulas>
    <formulas>
        <name>YoYGrowthCheck</name>
        <dataType>Boolean</dataType>
        <expression>(({!SalesSummaryTY.Amount__c}*1.0-{!SalesSummaryLY.Amount__c}*1.0)/{!SalesSummaryLY.Amount__c}*1.0)&gt;{!SchemeRecord.YoY_Growth__c}</expression>
    </formulas>
    <interviewLabel>Incentive Calculation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Incentive Calculation</label>
    <loops>
        <name>Loop_All_Incentives</name>
        <label>Loop All Incentives</label>
        <locationX>436</locationX>
        <locationY>245</locationY>
        <assignNextValueToReference>IncentiveRecord</assignNextValueToReference>
        <collectionReference>GetIncentives</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Scheme_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Finish_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetIncentives</name>
        <label>Get Incentives</label>
        <locationX>269</locationX>
        <locationY>248</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_Incentives</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Scheme__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TPM_Incentives__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetScheme</name>
        <label>Get Scheme</label>
        <locationX>57</locationX>
        <locationY>216</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetIncentives</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Scheme__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>246</locationX>
        <locationY>541</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultMess</name>
            <fieldText>&lt;p&gt;&lt;b&gt;You have an error, please check the data once. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Technical Error Details - {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_Screen</name>
        <label>Incentive Calculation</label>
        <locationX>655</locationX>
        <locationY>68</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessageDisplayText</name>
            <fieldText>Incentive Calculated Successfully for this Scheme, You can find all the updates on Related List Section.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetScheme</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Incentive_YoY_SubFlow</name>
        <label>Incentive_YoY_SubFlow</label>
        <locationX>584</locationX>
        <locationY>482</locationY>
        <connector>
            <targetReference>Loop_All_Incentives</targetReference>
        </connector>
        <flowName>Incentive_YoY_SubFlow</flowName>
        <inputAssignments>
            <name>IncentiveRecord</name>
            <value>
                <elementReference>IncentiveRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SchemeRecord</name>
            <value>
                <elementReference>GetScheme</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>IncentiveRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TPM_Incentives__c</objectType>
    </variables>
    <variables>
        <name>IncentiveRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TPM_Incentives__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SalesSummaryLY</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TPM_Sales_Summary__c</objectType>
    </variables>
    <variables>
        <name>SalesSummaryTY</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TPM_Sales_Summary__c</objectType>
    </variables>
    <variables>
        <name>SchemeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Scheme__c</objectType>
    </variables>
</Flow>
