force-app/main/default/flows/Incentive_YoY_SubFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Scheme_Type</name>
        <label>Scheme Type</label>
        <locationX>262</locationX>
        <locationY>411</locationY>
        <defaultConnector>
            <targetReference>Get_Scheme_Slabs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fixed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SchemeRecord.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fixed Target</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateIncentiveCompensation</targetReference>
            </connector>
            <label>Fixed</label>
        </rules>
    </decisions>
    <decisions>
        <name>YoY_Incentive_Rule</name>
        <label>YoY Incentive Rule</label>
        <locationX>422</locationX>
        <locationY>250</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YoY_Successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SalesSummaryTY.Amount__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SchemeRecord.Target_Sale__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>YoYGrowthCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Successful</label>
        </rules>
    </decisions>
    <formulas>
        <name>CalculatedCompensation</name>
        <dataType>Currency</dataType>
        <expression>{!SalesSummaryLY.Amount__c}*{!SchemeRecord.Compensation__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>LYTargetDateMax</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY())-1, {!SchemeRecord.TargetMonthNo__c}+1 , 01)</expression>
    </formulas>
    <formulas>
        <name>LYTargetDateMin</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY())-1, {!SchemeRecord.TargetMonthNo__c} , 01)</expression>
    </formulas>
    <formulas>
        <name>TYTargetDateMax</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()), {!SchemeRecord.TargetMonthNo__c}+1 , 01)</expression>
    </formulas>
    <formulas>
        <name>TYTargetDateMin</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()), {!SchemeRecord.TargetMonthNo__c} , 01)</expression>
    </formulas>
    <formulas>
        <name>VolCompensation</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Entitlement_Article.Compensation__c}* {!SalesSummaryLY.Amount__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>YoYGrowthCheck</name>
        <dataType>Boolean</dataType>
        <expression>(({!SalesSummaryTY.Amount__c}*1.0-{!SalesSummaryLY.Amount__c}*1.0)/{!SalesSummaryLY.Amount__c}*1.0)&gt;{!SchemeRecord.YoY_Growth__c}</expression>
    </formulas>
    <interviewLabel>Incentive_YoY_SubFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Incentive_YoY_SubFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Entitlement</name>
        <label>Get Entitlement</label>
        <locationX>542</locationX>
        <locationY>577</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Entitlement_Article</targetReference>
        </connector>
        <filters>
            <field>Scheme_Slab__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Scheme_Slabs.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entitlement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Entitlement_Article</name>
        <label>Get Entitlement Article</label>
        <locationX>683</locationX>
        <locationY>663</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateIncentiveCompensation_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Entitlement.Entitlement_Article__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entitlement_article__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_LY_Sales_Summary</name>
        <label>Get LY Sales Summary</label>
        <locationX>256</locationX>
        <locationY>221</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Scheme_Type</targetReference>
        </connector>
        <filters>
            <field>Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>SchemeRecord.Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>SchemeRecord.End_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Distributor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncentiveRecord.Distributor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SchemeRecord.Product_Group__c</elementReference>
            </value>
        </filters>
        <object>TPM_Sales_Summary__c</object>
        <outputReference>SalesSummaryLY</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Quantity__c</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>Distributor__c</queriedFields>
        <queriedFields>Product_Group__c</queriedFields>
        <queriedFields>Date__c</queriedFields>
        <queriedFields>Avg_Customer_Rating__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Scheme_Slabs</name>
        <label>Get Scheme Slabs</label>
        <locationX>545</locationX>
        <locationY>413</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Entitlement</targetReference>
        </connector>
        <filters>
            <field>Scheme__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SchemeRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Upper_Limit_Volume__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>SalesSummaryLY.Amount__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Scheme_Slab__c</object>
        <sortField>Upper_Limit_Volume__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TY_Sales_Summary</name>
        <label>Get TY Sales Summary</label>
        <locationX>541</locationX>
        <locationY>715</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>TYTargetDateMin</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>TYTargetDateMax</elementReference>
            </value>
        </filters>
        <filters>
            <field>Distributor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncentiveRecord.Distributor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SchemeRecord.Product_Group__c</elementReference>
            </value>
        </filters>
        <object>TPM_Sales_Summary__c</object>
        <outputReference>SalesSummaryTY</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>Date__c</queriedFields>
        <queriedFields>Quantity__c</queriedFields>
        <queriedFields>Avg_Customer_Rating__c</queriedFields>
        <queriedFields>Distributor__c</queriedFields>
        <queriedFields>Product_Group__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateIncentiveCompensation</name>
        <label>UpdateIncentiveCompensation</label>
        <locationX>64</locationX>
        <locationY>357</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncentiveRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Incentive_Value__c</field>
            <value>
                <elementReference>CalculatedCompensation</elementReference>
            </value>
        </inputAssignments>
        <object>TPM_Incentives__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateIncentiveCompensation_0</name>
        <label>UpdateIncentiveCompensation</label>
        <locationX>779</locationX>
        <locationY>527</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncentiveRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Incentive_Value__c</field>
            <value>
                <elementReference>VolCompensation</elementReference>
            </value>
        </inputAssignments>
        <object>TPM_Incentives__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_LY_Sales_Summary</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IncentiveRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>TPM_Incentives__c</objectType>
    </variables>
    <variables>
        <name>SalesSummaryLY</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TPM_Sales_Summary__c</objectType>
    </variables>
    <variables>
        <name>SalesSummaryTY</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TPM_Sales_Summary__c</objectType>
    </variables>
    <variables>
        <name>SchemeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Scheme__c</objectType>
    </variables>
</Flow>
