force-app/main/default/flows/Non_Monetary_Incentive_SubFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AddCompensation</name>
        <label>AddCompensation</label>
        <locationX>1559</locationX>
        <locationY>990</locationY>
        <assignmentItems>
            <assignToReference>varFullVolCompensation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VolCompensation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignIncentiveName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignFixedEntitlementName</name>
        <label>AssignFixedEntitlementName</label>
        <locationX>657</locationX>
        <locationY>1049</locationY>
        <assignmentItems>
            <assignToReference>varFullFixedEntitlementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFixedArticleName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Fixed_Entitlements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignIncentiveName</name>
        <label>AssignIncentiveName</label>
        <locationX>1394</locationX>
        <locationY>1226</locationY>
        <assignmentItems>
            <assignToReference>varFullEntitlementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varArticleName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Entitlements</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckFixedEarlyBird</name>
        <label>CheckFixedEarlyBird</label>
        <locationX>228</locationX>
        <locationY>1050</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Fixed_Entitlements</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Qualify</defaultConnectorLabel>
        <rules>
            <name>Early_Bird</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Fixed_Entitlements.Early_Bird__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Fixed_Entitlements.Early_Bird_End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SalesSummaryLY.Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignFixedEntitlementName</targetReference>
            </connector>
            <label>Is Early Bird</label>
        </rules>
        <rules>
            <name>Not_Early_Bird</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Fixed_Entitlements.Early_Bird__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignFixedEntitlementName</targetReference>
            </connector>
            <label>Not Early Bird</label>
        </rules>
    </decisions>
    <decisions>
        <name>Monetary_or_Non_Monetary</name>
        <label>Monetary or Non Monetary?</label>
        <locationX>1393</locationX>
        <locationY>707</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Entitlements</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Action</defaultConnectorLabel>
        <rules>
            <name>Goods</name>
            <conditionLogic>(1 AND 2 AND 3) OR (1 AND NOT (2))</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Entitlements.Entitlement_Article__r.Article_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Goods</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Entitlements.Early_Bird__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesSummaryLY.Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Through_Entitlements.Early_Bird_End_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignIncentiveName</targetReference>
            </connector>
            <label>Goods</label>
        </rules>
        <rules>
            <name>Travel</name>
            <conditionLogic>(1 AND 2 AND 3) OR (1 AND NOT (2))</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Entitlements.Entitlement_Article__r.Article_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Entitlements.Early_Bird__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesSummaryLY.Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Through_Entitlements.Early_Bird_End_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignIncentiveName</targetReference>
            </connector>
            <label>Travel</label>
        </rules>
        <rules>
            <name>Monetary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Entitlements.Entitlement_Article__r.Article_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compensation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddCompensation</targetReference>
            </connector>
            <label>Compensation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Scheme_Type</name>
        <label>Scheme Type</label>
        <locationX>776</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>UpdateZero</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fixed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SchemeRecord.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fixed Target</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesSummaryLY</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetFixedEntitlementFixedScheme</targetReference>
            </connector>
            <label>Fixed</label>
        </rules>
        <rules>
            <name>OTHERS</name>
            <conditionLogic>(1 AND 3) OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>SchemeRecord.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Volume Based</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SchemeRecord.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Custom</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesSummaryLY</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Scheme_Slabs</targetReference>
            </connector>
            <label>OTHERS</label>
        </rules>
    </decisions>
    <formulas>
        <name>CalculatedCompensation</name>
        <dataType>Currency</dataType>
        <expression>{!SalesSummaryLY.Amount__c}*{!SchemeRecord.Compensation__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>LYTargetDateMax</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY())-1, {!SchemeRecord.TargetMonthNo__c}+1 , 01)</expression>
    </formulas>
    <formulas>
        <name>LYTargetDateMin</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY())-1, {!SchemeRecord.TargetMonthNo__c} , 01)</expression>
    </formulas>
    <formulas>
        <name>TYTargetDateMax</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()), {!SchemeRecord.TargetMonthNo__c}+1 , 01)</expression>
    </formulas>
    <formulas>
        <name>TYTargetDateMin</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()), {!SchemeRecord.TargetMonthNo__c} , 01)</expression>
    </formulas>
    <formulas>
        <name>varArticleName</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK({!varFullEntitlementName}), {!Loop_Through_Entitlements.Entitlement_Article__r.Name}, {!varFullEntitlementName} &amp; &quot;;&quot; &amp; {!Loop_Through_Entitlements.Entitlement_Article__r.Name})</expression>
    </formulas>
    <formulas>
        <name>varFixedArticleName</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK({!varFullFixedEntitlementName}), {!Loop_Through_Fixed_Entitlements.Entitlement_Article__r.Name}, {!varFullFixedEntitlementName} &amp; &quot;;&quot; &amp; {!Loop_Through_Fixed_Entitlements.Entitlement_Article__r.Name})</expression>
    </formulas>
    <formulas>
        <name>VolCompensation</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_Through_Entitlements.Entitlement_Article__r.Compensation__c}* {!SalesSummaryLY.Amount__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>YoYGrowthCheck</name>
        <dataType>Boolean</dataType>
        <expression>(({!SalesSummaryTY.Amount__c}*1.0-{!SalesSummaryLY.Amount__c}*1.0)/{!SalesSummaryLY.Amount__c}*1.0)&gt;{!SchemeRecord.YoY_Growth__c}</expression>
    </formulas>
    <interviewLabel>Non Monetary Incentive SubFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Updated Incentive SubFlow</label>
    <loops>
        <name>Loop_Through_Entitlements</name>
        <label>Loop Through Entitlements</label>
        <locationX>1128</locationX>
        <locationY>905</locationY>
        <collectionReference>Get_All_Entitlements_For_Scheme</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Monetary_or_Non_Monetary</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Non_Monetary_Incentive</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Fixed_Entitlements</name>
        <label>Loop Through Fixed Entitlements</label>
        <locationX>387</locationX>
        <locationY>587</locationY>
        <collectionReference>GetFixedEntitlementFixedScheme</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckFixedEarlyBird</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateFixedEntitlement</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Entitlements_For_Scheme</name>
        <label>Get All Entitlements For Scheme</label>
        <locationX>1128</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Entitlements</targetReference>
        </connector>
        <filters>
            <field>Scheme_Slab__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Scheme_Slabs.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Entitlement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_LY_Sales_Summary</name>
        <label>Get LY Sales Summary</label>
        <locationX>776</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Scheme_Type</targetReference>
        </connector>
        <filters>
            <field>Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>SchemeRecord.Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>SchemeRecord.End_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Distributor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncentiveRecord.Distributor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SchemeRecord.Product_Group__c</elementReference>
            </value>
        </filters>
        <object>TPM_Sales_Summary__c</object>
        <outputReference>SalesSummaryLY</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Quantity__c</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>Distributor__c</queriedFields>
        <queriedFields>Product_Group__c</queriedFields>
        <queriedFields>Date__c</queriedFields>
        <queriedFields>Avg_Customer_Rating__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Scheme_Slabs</name>
        <label>Get Scheme Slabs</label>
        <locationX>1128</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Entitlements_For_Scheme</targetReference>
        </connector>
        <filters>
            <field>Scheme__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SchemeRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Upper_Limit_Volume__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>SalesSummaryLY.Amount__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lower_Limit_Volume__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>SalesSummaryLY.Amount__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Scheme_Slab__c</object>
        <sortField>Upper_Limit_Volume__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetFixedEntitlementFixedScheme</name>
        <label>GetFixedEntitlementFixedScheme</label>
        <locationX>383</locationX>
        <locationY>325</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Fixed_Entitlements</targetReference>
        </connector>
        <filters>
            <field>Scheme__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SchemeRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Entitlement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Non_Monetary_Incentive</name>
        <label>Update Incentive</label>
        <locationX>1119</locationX>
        <locationY>1309</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncentiveRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Incentive_Goods__c</field>
            <value>
                <elementReference>varFullEntitlementName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incentive_Value__c</field>
            <value>
                <elementReference>varFullVolCompensation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Amount__c</field>
            <value>
                <elementReference>SalesSummaryLY.Amount__c</elementReference>
            </value>
        </inputAssignments>
        <object>TPM_Incentives__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateFixedEntitlement</name>
        <label>UpdateFixedEntitlement</label>
        <locationX>802</locationX>
        <locationY>586</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncentiveRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Incentive_Goods__c</field>
            <value>
                <elementReference>varFullFixedEntitlementName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incentive_Value__c</field>
            <value>
                <elementReference>CalculatedCompensation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Amount__c</field>
            <value>
                <elementReference>SalesSummaryLY.Amount__c</elementReference>
            </value>
        </inputAssignments>
        <object>TPM_Incentives__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateZero</name>
        <label>UpdateZero</label>
        <locationX>1272</locationX>
        <locationY>193</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncentiveRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Incentive_Value__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>TPM_Incentives__c</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_LY_Sales_Summary</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>IncentiveRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>TPM_Incentives__c</objectType>
    </variables>
    <variables>
        <name>SalesSummaryLY</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TPM_Sales_Summary__c</objectType>
    </variables>
    <variables>
        <name>SalesSummaryTY</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TPM_Sales_Summary__c</objectType>
    </variables>
    <variables>
        <name>SchemeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Scheme__c</objectType>
    </variables>
    <variables>
        <name>varFullEntitlementName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFullFixedEntitlementName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFullVolCompensation</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
